$primary: #00b3e6;
$link: #ff4081;
@import 'bulma/bulma.sass';

.menu-list a.activeLink {
  color: #fff;
  background-color: $link;
}

button {
  margin: 1em;
}

// button.button-icon {
//   border: none;
//   margin: 0;
//   padding: 0;
//   cursor: pointer;
//   color: $link;
// }

.content {
  border: 0px red solid;
}

.column.is-narrow.icons {
  display: flex;
  width: 2em;
}

.list {
  margin-top: 1.5em;
  margin-bottom: 1em;
  width: 100%;
  box-shadow: none;
  li {
    .box {
      cursor: pointer;
      margin-bottom: 1em;
      &:hover {
        color: #fff;
        background-color: $link;
        a {
          color: #fff;
        }
      }
      &.selected:hover {
        color: white;
      }
    }
  }
  .description {
    margin: 5px 0;
  }
  .name {
    font-weight: bold;
  }
}
.editarea {
  width: 100%;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 25px;
  border-radius: 2px;
  text-align: center;
}

#modal .buttons button {
  display: inline-block;
  margin: auto;
}
