$primary: #00b3e6;
// $link: #ff4081;
@import 'bulma/bulma.sass';

.menu-list a.activeLink {
  color: #fff;
  background-color: $link;
}

header {
  font-weight: bold;
  font-family: Arial;
  span {
    letter-spacing: 0px;
    &.tour {
      color: #fff;
    }
    &.of {
      color: #ccc;
    }
    &.heroes {
      color: #00b3e6;
    }
  }
}

.content-container {
  h2 {
    padding-top: 16px;
    padding-right: 15px;
    display: inline-block;
  }
  .content-title-group button.button {
    border: 0;
    color: #999;
    margin-top: 18px;
    &:hover {
      color: $link;
    }
  }
  .list {
    box-shadow: none;
    .card-content {
      .name {
        font-size: 28px;
        color: #000;
      }
      .description {
        font-size: 20px;
        color: #999;
      }
      background-color: #fafafa;
    }
    .card {
      margin-bottom: 2em;
    }
  }
  .card-footer a {
    i {
      margin-right: 10px;
    }
    color: #999;
    &:hover {
      color: $link;
    }
  }
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 25px;
  border-radius: 2px;
  text-align: center;
}

#modal .buttons button {
  display: inline-block;
  margin: auto;
}
