$primary: #00b3e6;
// $link: #ff4081;
@import 'bulma/bulma.sass';

.menu-list a.activeLink {
  color: #fff;
  background-color: $link;
}

.content-container {
  h2 {
    padding-top: 16px;
    padding-right: 15px;
    display: inline-block;
  }
  .content-title-group button.button {
    border: 0;
    color: #999;
    margin-top: 18px;
    &:hover {
      color: $link;
    }
  }
}

.list {
  margin-top: 1.5em;
  margin-bottom: 1em;
  width: 100%;
  box-shadow: none;
  .card-content {
    .name {
      font-size: 28px;
    }
    .description {
      font-size: 20px;
      color: #999;
    }
  }
  .card-footer {
    i {
      margin-right: 20px;
    }
    * {
      color: #999;
      &:hover * {
        color: $link;
      }
    }
  }
  li .card {
    margin-bottom: 2em;
  }
}

.editarea {
  width: 100%;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 25px;
  border-radius: 2px;
  text-align: center;
}

#modal .buttons button {
  display: inline-block;
  margin: auto;
}
